<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Profesores</h2>
		<form class="navbar-form" action="/teacher/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por nombre o apellido del profesor">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>
		<p>Los profesores que actualmente figuran en el sistema son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>DNI</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="teacher : ${teachersList}">
						<td th:text="${teacher.dni}">71888888X</td>
						<td th:text="${teacher.name}">Nombre del profesor</td>
						<td th:text="${teacher.lastName}">Apellidos del profesor</td>
						<!-- <td><a th:href="${'/teacher/details/' + teacher.id}">detalles</a></td>
						<td><a th:href="${'/teacher/edit/' + teacher.id}">modificar</a></td>
						<td><a th:href="${'/teacher/delete/' + teacher.id}">eliminar</a></td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>